extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nosotros")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sint, aliquam est culpa accusamus ullam itaque dolor, ea eveniet autem debitis eius? Soluta porro, commodi temporibus necessitatibus a reiciendis vel.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque hic optio itaque, debitis, quas perferendis repellendus recusandae aspernatur, architecto maiores repudiandae dolores. Quas cum quia doloremque animi. Cum, neque commodi!
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore fugit dicta maiores ad, odio, sapiente voluptas est autem pariatur quas, optio deleniti assumenda odit dignissimos. Minus, sed. Ullam, voluptatem voluptate.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus eius nihil, laboriosam ut illum veniam incidunt, veritatis, dolorem doloremque fuga quisquam ipsum nemo alias. Recusandae doloremque quod sint eaque. Error!
    
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, fugiat quasi totam molestiae cumque earum doloremque commodi obcaecati nesciunt iure adipisci quo? Illum optio suscipit iusto doloremque reprehenderit nesciunt iure!
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, fugiat quasi totam molestiae cumque earum doloremque commodi obcaecati nesciunt iure adipisci quo? Illum optio suscipit iusto doloremque reprehenderit nesciunt iure!
                .col-md-4
                    img(src="img/icono_precio.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, fugiat quasi totam molestiae cumque earum doloremque commodi obcaecati nesciunt iure adipisci quo? Illum optio suscipit iusto doloremque reprehenderit nesciunt iure!